body {
  background-color: gray;
}
.popup-container {
  width: 532px;
  height: 10%;
}
/**/
.help-items {
  background-color: #e3e3e3;
  padding: 1%;
}
.email {
  color: rgb(104,133,171);
  float: left;
  padding-left: 2%;
}
.help {
  padding-right: 2%;
  color: rgb(194,200,203);
  float: right;
  text-align: right;
}
.help-desk{
  color: #fff;
  background-color: rgb(144, 197,67);
  float: right;
  padding: 1%;
}
.clearfix {
  clear: both;
}