body {
  background-color: gray;
}
.popup-container {
  width: 30%;
  height: 10%;
}
.help-items {
  background-color: #e3e3e3;
  padding: 1%;
}
.email {
  color: rgb(104,133,171);
  float: left;
  padding-left: 2%;
}
.help {
  padding-right: 2%;
  color: rgb(194,200,203);
  float: right;
  text-align: right;
}
.help-desk{
  color: #fff;
  background-color: rgb(144, 197,67);
  float: right;
  padding: 1%;
}
.clearfix {
  clear: both;
}
/* Help desk*/
.ui-widget .ui-state-default {
  background-image: none;
  background-color: #B8BCBE;
}
ul.question-list .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #404040;
}
ul.question-list .ui-widget-content{
  background-image: none;
  background-color: #EBF1F4;
}

.ui-accordion-header a {
  font-size: 13px;
}
/**/
.title{
  color: #555657;
  font-size: 18px;
}
.content {
  color: #414446;
  font-size: 13px;
}